.header{
    height: 60px;
    background-color: #0F1111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.header__logo{
    width: 100px;
    margin-left: 11px;
}
.header__option{
    padding: 10px 9px 10px 9px;
    cursor: pointer;
}
.header__option__address{
    padding-left: 9px;
    display: flex;
    align-items: center;
}
.option__line__one,
option__line__two {
    font-weight: 700;
}
.header__search{
    display: flex;
    flex-grow: 1;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;
    margin-left: 4px;
    background-color: white;
}
.header__search:focus-within{
    box-shadow: 0 0 0 3px #f90;
}
.header__search__input{
    flex-grow: 1;
    border: 0;
}
.header__search__input:focus{
    outline: none;
}
.header__search__icon__container{
    background-color: #febd69;
    width: 45px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__nav__items{
    display: flex;
}
.header__option__cart{
    display: flex;
    align-items: center;
    padding-right: 9px;
    color: white;
    text-decoration: none;
}
.cart__count{
    padding-left: 8px;
    font-weight: 700;
    color: #f08804;
}